body {
  background-color: #515151;
}

#wrapper {
  margin: 24px auto;
  width: 1300px;
  border: 1px solid black;
  padding-right: 24px;
  background-color: #ebe4d6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  font-family: 'Arvo', serif; 
}



header {
    grid-column: span 3;
    background-color: rgb(69, 54, 87);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-shadow: 8px 8px 0px #000; /* x, y, blur, color */
    font-family: 'Rubik Mono One', sans-serif;


}
/*


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    display: block;
    background-color: rgb(69, 54, 87);
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    

}
*/ 


 
nav {
    grid-column: span 9; 
    text-decoration: none;
    margin-top: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    
    
    
}
nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

nav li {
    width: 310px;
    margin-bottom: 20px;
    margin-right: px;
    background-color: rgb(69, 54, 87);
    display: inline-block;
    
}

nav a {
    color:white;
    text-decoration: none;
    display:block;
    padding: 13px;
    text-align: center;
    height: 50px;
    padding-top: 40px;
}



nav a:hover {
    background-color: rgb(196, 151, 5);
    transition: background-color .5s, width 2.0s, color 2.0s;
    height: 50px;
    padding: 13px;
    padding-top: 40px;
    

}

.twod {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.gamedesign {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.twod a:hover {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.gamedesign a:hover {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


main img {
    grid-column: span 3;
    max-width: 150px;
    margin: 0px;
    padding: 0px;
    box-shadow: 8px 8px 0px #252532;
    border-radius: 500px;
}



main {
    grid-column: span 3;
    background-color: rgb(69, 54, 87);
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.art {
    
    grid-column: span 4;
    float: right;
}

footer {
    grid-column: span 3;
    background-color: rgb(69, 54, 87);
    color: white;
    text-align: center;

}

.sideimg {
    grid-column: span 5;
    box-shadow: 10px 10px 0px #a39690;
    width: 500px;
    height: 520px;


   
}

.welcome{
    font-weight: bold;
    font-size: 30px;
}



/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}

main a {
    color: rgb(209, 168, 33);
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    color: rgb(116, 113, 131);
}

.art a {
    color: rgb(196, 151, 5);
    text-decoration: none;
    font-weight: bold;
}

.art a:hover {
    color: rgb(116, 113, 131);
}

section {
    display: inline-block;
}

